Repository ow-mods/ow-mod-man, pull requests merged in 2023-04, with the labels that each got.

#3 Overhaul Everything
  Cargo.lock
  owmods_cli/src/logging.rs
  owmods_cli/src/main.rs
  owmods_core/Cargo.toml
  owmods_core/linux_replacement_dlls/System.Core.dll
  owmods_core/linux_replacement_dlls/System.dll
  owmods_core/src/analytics.rs
  owmods_core/src/config.rs
  owmods_core/src/db.rs
  owmods_core/src/download.rs
  owmods_core/src/game.rs
  owmods_core/src/io.rs
  owmods_core/src/mods.rs
  owmods_core/src/open.rs
  owmods_core/src/remove.rs
  owmods_core/src/updates.rs
  owmods_core/src/validate.rs
  owmods_core/test_files/Invalid/Mods/Dupe.Mod1/manifest.json
  owmods_core/test_files/Invalid/Mods/Dupe.Mod2/manifest.json
  owmods_core/test_files/Invalid/Mods/Invalid.Manifest/manifest.json
  owmods_gui/backend/Cargo.toml
  owmods_gui/backend/src/commands.rs
  owmods_gui/backend/src/game.rs
  owmods_gui/backend/src/gui_config.rs
  owmods_gui/backend/src/main.rs
  owmods_gui/backend/tauri.conf.json
  owmods_gui/frontend/src/assets/translations/english.json
  owmods_gui/frontend/src/commands.ts
  owmods_gui/frontend/src/components/common/Icon.tsx
  owmods_gui/frontend/src/components/modals/ModValidationModal.tsx
  owmods_gui/frontend/src/components/modals/SettingsModal.tsx
  owmods_gui/frontend/src/components/mods/ModActionButton.tsx
  owmods_gui/frontend/src/components/mods/local/FailedModRow.tsx
  owmods_gui/frontend/src/components/mods/local/LocalModRow.tsx
  owmods_gui/frontend/src/components/mods/local/LocalModValidationIcon.tsx
  owmods_gui/frontend/src/components/mods/local/LocalMods.tsx
  owmods_gui/frontend/src/components/mods/local/UnsafeModRow.tsx
  owmods_gui/frontend/src/components/mods/local/ValidModRow.tsx
  owmods_gui/frontend/src/components/mods/updates/UpdateModRow.tsx
  owmods_gui/frontend/src/components/nav/Nav.tsx
  owmods_gui/frontend/src/styles/mods.scss
  owmods_gui/frontend/src/styles/vars.scss
  owmods_gui/frontend/src/types.d.ts
Labels: core, cli, gui

#19 Version 0.2.0
  .cargo/config.toml
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/post_release_cli.yml
  .github/workflows/post_release_core.yml
  .github/workflows/release_cli.yml
  .github/workflows/release_core.yml
  .github/workflows/release_gui.yml
  .gitignore
  .vscode/settings.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  README.md
  SECURITY.md
  owmods_cli/Cargo.toml
  owmods_cli/README.md
  owmods_cli/src/cli.rs
  owmods_cli/src/logging.rs
  owmods_cli/src/main.rs
  owmods_core/Cargo.toml
  owmods_core/README.md
  owmods_core/src/db.rs
  owmods_core/src/download.rs
  owmods_core/src/file.rs
  owmods_core/src/game.rs
  owmods_core/src/progress.rs
  owmods_gui/README.md
  owmods_gui/backend/Cargo.toml
  owmods_gui/backend/src/commands.rs
  owmods_gui/backend/src/game.rs
  owmods_gui/backend/src/gui_config.rs
  owmods_gui/backend/src/main.rs
  owmods_gui/backend/tauri.conf.json
  owmods_gui/frontend/package.json
  owmods_gui/frontend/pnpm-lock.yaml
  owmods_gui/frontend/src/assets/translations/english.json
  owmods_gui/frontend/src/commands.ts
  owmods_gui/frontend/src/components/logs/LogApp.tsx
  owmods_gui/frontend/src/components/logs/LogLine.tsx
  owmods_gui/frontend/src/components/logs/LogList.tsx
  owmods_gui/frontend/src/components/modals/InstallFromModal.tsx
  owmods_gui/frontend/src/components/nav/Nav.tsx
  owmods_gui/frontend/src/components/nav/NavRefresh.tsx
  owmods_gui/frontend/src/logs.tsx
  owmods_gui/frontend/src/styles/logs.scss
  xtask/Cargo.toml
  xtask/src/cli_tasks.rs
  xtask/src/cli_templates/PKGBUILD
  xtask/src/main.rs
Labels: update

#25 Make Logs Collapse
  owmods_gui/backend/src/commands.rs
  owmods_gui/backend/src/game.rs
  owmods_gui/frontend/src/commands.ts
  owmods_gui/frontend/src/components/logs/LogApp.tsx
  owmods_gui/frontend/src/components/logs/LogLine.tsx
  owmods_gui/frontend/src/components/logs/LogList.tsx
  owmods_gui/frontend/src/styles/logs.scss
Labels: enhancement, gui

#26 Version 0.3.1
  Cargo.lock
  owmods_cli/Cargo.toml
  owmods_core/Cargo.toml
  owmods_core/src/progress.rs
  owmods_core/src/socket.rs
  owmods_gui/backend/Cargo.toml
  owmods_gui/backend/src/commands.rs
  owmods_gui/backend/src/game.rs
  owmods_gui/backend/tauri.conf.json
  owmods_gui/frontend/package.json
  owmods_gui/frontend/pnpm-lock.yaml
  owmods_gui/frontend/src/assets/translations/english.json
  owmods_gui/frontend/src/commands.ts
  owmods_gui/frontend/src/components/downloads/DownloadsPopout.tsx
  owmods_gui/frontend/src/components/logs/LogApp.tsx
  owmods_gui/frontend/src/components/logs/LogHeader.tsx
  owmods_gui/frontend/src/components/logs/LogLine.tsx
  owmods_gui/frontend/src/components/logs/LogList.tsx
  owmods_gui/frontend/src/components/modals/InstallFromModal.tsx
  owmods_gui/frontend/src/components/mods/remote/RemoteModRow.tsx
  owmods_gui/frontend/src/components/mods/remote/RemoteMods.tsx
  owmods_gui/frontend/src/components/mods/remote/RemoteModsList.tsx
  owmods_gui/frontend/src/components/mods/updates/UpdateModRow.tsx
  owmods_gui/frontend/src/components/mods/updates/UpdateMods.tsx
  owmods_gui/frontend/src/components/tabs/Section.tsx
  owmods_gui/frontend/src/styles/logs.scss
  owmods_gui/frontend/src/styles/mods.scss
  owmods_gui/frontend/src/styles/style.scss
  xtask/src/cli_templates/PKGBUILD
  xtask/src/gui_templates/PKGBUILD
Labels: update

#28 Version 0.4.0
  .github/workflows/release_cli.yml
  .github/workflows/release_gui.yml
  .gitignore
  Cargo.lock
  owmods_cli/Cargo.toml
  owmods_cli/src/main.rs
  owmods_core/Cargo.toml
  owmods_core/linux_replacement_dlls/OWML.ModLoader.dll
  owmods_core/src/config.rs
  owmods_core/src/constants.rs
  owmods_core/src/download.rs
  owmods_core/src/file.rs
  owmods_core/src/game.rs
  owmods_core/src/mods.rs
  owmods_core/src/remove.rs
  owmods_core/src/updates.rs
  owmods_gui/backend/Cargo.toml
  owmods_gui/backend/src/commands.rs
  owmods_gui/backend/src/gui_config.rs
  owmods_gui/backend/src/logging.rs
  owmods_gui/backend/src/main.rs
  owmods_gui/backend/tauri.conf.json
  owmods_gui/frontend/package.json
  owmods_gui/frontend/pnpm-lock.yaml
  owmods_gui/frontend/src/assets/translations/english.json
  owmods_gui/frontend/src/assets/translations/template.json
  owmods_gui/frontend/src/commands.ts
  owmods_gui/frontend/src/components/MainApp.tsx
  owmods_gui/frontend/src/components/logs/LogLine.tsx
  owmods_gui/frontend/src/components/logs/LogList.tsx
  owmods_gui/frontend/src/components/modals/AboutModal.tsx
  owmods_gui/frontend/src/components/modals/SettingsModal.tsx
  owmods_gui/frontend/src/components/mods/local/FailedModRow.tsx
  owmods_gui/frontend/src/components/mods/local/LocalModRow.tsx
  owmods_gui/frontend/src/components/mods/local/ValidModRow.tsx
  owmods_gui/frontend/src/components/mods/remote/RemoteModRow.tsx
  owmods_gui/frontend/src/components/mods/updates/UpdateMods.tsx
  owmods_gui/frontend/src/styles/mods.scss
  owmods_gui/frontend/src/styles/settings.scss
Labels: core, cli, gui, update
